<!DOCTYPE html>
<html lang="lv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" type="image/x-icon" href="files/images/logo.webp">
  <title>Content Creation</title>
  <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
  <!-- Pico CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/a01d92m83i74n65/dashboard">Dashboard</a></li>
    <li><a href="/a01d92m83i74n65/blogs">Blogs</a></li>
    <li><a href="#Pages">Page</a></li>
    <li><a href="#Folders">Folders</a></li>
    <li><a href="#Profiles">Profiles</a></li>
  </ul>
</nav>
<%- include(content)%>
</body>
</html>