<!DOCTYPE html>
<html lang="lv" data-theme="light">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" type="image/x-icon" href="files/images/logo.webp">
  <title>Content Creation</title>
  <script src="https://kit.fontawesome.com/74e30751de.js" crossorigin="anonymous"></script>
  <script src="/public/plugins/ckeditor/ckeditor.js"></script>
  <!-- Pico CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <!--CSS-->
  <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
<nav>
  <ul>
    <li><a href="/a01d92m83i74n65/dashboard">Dashboard</a></li>
    <li><a href="/a01d92m83i74n65/blogs">Blogi</a></li>
    <li><a href="/a01d92m83i74n65/pages">Lapas</a></li>
    <li><a href="#Folders">Folders</a></li>
    <li><a href="/a01d92m83i74n65/users">LietotÄji</a></li>
  </ul>
</nav>
<%- include(content)%>
</body>
</html>