<h1>Adminstrācija</h1>
<article>
  <table>
    <thead>
      <tr>
        <td>Foto</td>
        <td>Vārds, uzvārds</td>
        <td>Amats</td>
        <td>Tālrunis</td>
        <td>E-pasts</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107429/vizulis.jpg" src="https://jvg.edu.lv/media/107429/vizulis_51x76.jpg" /></td>
        <td>Valerjans Vizulis</td>
        <td>direktors</td>
        <td>65237551</td>
        <td>valerjans.vizulis@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107399/klavina.jpg" src="https://jvg.edu.lv/media/107399/klavina_51x76.jpg" /></td>
        <td>Rita Kļaviņa</td>
        <td>direktora vietniece mācību darbā</td>
        <td> </td>
        <td>rita.klavina@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107409/ozolina.jpg" src="https://jvg.edu.lv/media/107409/ozolina_51x76.jpg" /></td>
        <td>Skaidrīte Ozoliņa</td>
        <td>direktora vietniece mācību darbā</td>
        <td> </td>
        <td>skaidrite.ozolina@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107391/druveniece.jpg" src="https://jvg.edu.lv/media/107391/druveniece_51x76.jpg" /></td>
        <td>Dace Druveniece</td>
        <td>direktora vietniece ārpusstundu darbā</td>
        <td> </td>
        <td>dace.druveniece@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107403/lasmane.jpg" src="https://jvg.edu.lv/media/107403/lasmane_51x76.jpg" /></td>
        <td>Biruta Lasmane</td>
        <td>direktora vietniece IT jautājumos</td>
        <td> </td>
        <td>biruta.lasmane@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107424/veveris.jpg" src="https://jvg.edu.lv/media/107424/veveris_51x76.jpg" /></td>
        <td>Andris Vēveris</td>
        <td>direktora vietnieks</td>
        <td> </td>
        <td>andris.veveris@edu.jekabpils.lv</td>
      </tr>
    </tbody>
  </table>
</article>
<hr>
<h1>Atbalsta personāls</h1>
<article>
  <table>
    <thead>
      <tr>
        <td>Foto</td>
        <td>Vārds, uzvārds</td>
        <td>Amats</td>
        <td>Tālrunis</td>
        <td> E-pasts</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/109581/scadro.jpg" src="https://jvg.edu.lv/media/109581/scadro_51x76.jpg" /></td>
        <td>Laila Ščadro</td>
        <td>izglītības psihologs</td>
        <td>27136072</td>
        <td>laila.scadro@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107421/vanaga.jpg" src="https://jvg.edu.lv/media/107421/vanaga_51x76.jpg" /></td>
        <td>Anita Vanaga</td>
        <td>sociālais pedagogs</td>
        <td>
          <p>26639420</p>
        </td>
        <td>anita.vanaga@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td> </td>
        <td>Sarmīte Stikāne</td>
        <td>pedagogs karjeras konsultants</td>
        <td>
          <p>26165237</p>
        </td>
        <td>sarmite.stikane@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td> </td>
        <td>Alīna Rastopčina</td>
        <td>medmāsa</td>
        <td>
          <p>20088602</p>
        </td>
        <td>alina.rastopcina@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107394/grigalovica.jpg" src="https://jvg.edu.lv/media/107394/grigalovica_51x76.jpg" /></td>
        <td>Anita Grigaloviča</td>
        <td>bibliotekāre</td>
        <td>65237555</td>
        <td>anita.grigalovica@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107390/dilbeka.jpg" src="https://jvg.edu.lv/media/107390/dilbeka_51x76.jpg" /></td>
        <td>Malda Dilbeka</td>
        <td>bibliotekāre</td>
        <td>65237555</td>
        <td>malda.dilbeka@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/58890/beitane.jpg" src="https://jvg.edu.lv/media/58890/beitane_51x77.jpg" /></td>
        <td>Inese Beitāne</td>
        <td>lietvede</td>
        <td>65237551</td>
        <td>jvg@edu.jekabpils.lv</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/109587/andrejeva.jpg" src="https://jvg.edu.lv/media/109587/andrejeva_51x76.jpg" /></td>
        <td>
          <p>Inga Andrejeva</p>
        </td>
        <td>saimniecības daļas vadītāja</td>
        <td>22305636</td>
        <td>inga.andrejeva@edu.jekabpils.lv</td>
      </tr>
    </tbody>
  </table>
</article>
<hr>
<h1>Skolotāji</h1>
<article>
  <table>
    <thead>
      <tr>
        <td>Foto</td>
        <td>Vārds</td>
        <td>Uzvārds</td>
        <td>Mācību priekšmets</td>
        <td>Kabinets </td>
        <td>Audz. klase</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/109583/avota.jpg" src="https://jvg.edu.lv/media/109583/avota_51x76.jpg" /></td>
        <td>Laima</td>
        <td>Avota</td>
        <td>ķīniešu valoda<br /></td>
        <td>
          <p>623.</p>
        </td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107388/bluma.jpg" src="https://jvg.edu.lv/media/107388/bluma_51x76.jpg" /></td>
        <td>Ilze</td>
        <td>Blūma</td>
        <td>matemātika</td>
        <td>313.</td>
        <td>10.d</td>
      </tr>
      <tr>
        <td> </td>
        <td>Inese</td>
        <td>Blumberga</td>
        <td>matemātika</td>
        <td>317.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107389/bondare.jpg" src="https://jvg.edu.lv/media/107389/bondare_51x76.jpg" /></td>
        <td>Sandra</td>
        <td>Bondare</td>
        <td>mūzika, kultūras pamati<br /></td>
        <td>621. </td>
        <td>9.a</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107391/druveniece.jpg" src="https://jvg.edu.lv/media/107391/druveniece_51x76.jpg" /></td>
        <td>Dace</td>
        <td>Druveniece</td>
        <td>latviešu valoda</td>
        <td>311. </td>
        <td>10.b</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107392/ermansone.jpg" src="https://jvg.edu.lv/media/107392/ermansone_51x76.jpg" /></td>
        <td>Inga</td>
        <td>Ermansone</td>
        <td>latviešu valoda</td>
        <td>117. </td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107393/feldmane.jpg" src="https://jvg.edu.lv/media/107393/feldmane_51x76.jpg" /></td>
        <td>Ingrīda</td>
        <td>Feldmane</td>
        <td>matemātika</td>
        <td><span style="color: #003366;">317. </td>
        <td>10.c </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107394/grigalovica.jpg" src="https://jvg.edu.lv/media/107394/grigalovica_51x76.jpg" /></td>
        <td>Anita</td>
        <td>Grigaloviča</td>
        <td>krievu valoda, bibliotekāre </td>
        <td>333. </td>
        <td>12.c</td>
      </tr>
      <tr>
        <td> </td>
        <td>Katrīna</td>
        <td>Grigorjeva</td>
        <td>matemātika<br /></td>
        <td>312.</td>
        <td> 7.b</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107395/grigorjeva.jpg" src="https://jvg.edu.lv/media/107395/grigorjeva_51x76.jpg" /></td>
        <td>Santa</td>
        <td>Grigorjeva</td>
        <td>angļu valoda<br /></td>
        <td>221.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107396/grinberga.jpg" src="https://jvg.edu.lv/media/107396/grinberga_51x76.jpg" /></td>
        <td>Rita</td>
        <td>Grīnberga</td>
        <td>datorika</td>
        <td>231.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107398/jubelis.jpg" src="https://jvg.edu.lv/media/107398/jubelis_51x76.jpg" /></td>
        <td>Jevgenijs</td>
        <td>Jubelis</td>
        <td>sports un veselība</td>
        <td>sporta<br />zāle</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107425/vibane.jpg" src="https://jvg.edu.lv/media/107425/vibane_51x76.jpg" /></td>
        <td>Dagnija</td>
        <td>Kalniņa</td>
        <td>sports un veselība, sociālās zinības<br /></td>
        <td><span>334.<br />sporta<br /><span>zāle</td>
        <td>12.a</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107401/kokins.jpg" src="https://jvg.edu.lv/media/107401/kokins_51x76.jpg" /></td>
        <td>Aivis</td>
        <td>Kokins</td>
        <td>sports un veselība</td>
        <td><span>sporta<br /><span>zāle</td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Svetlana</td>
        <td>Kudrjavceva</td>
        <td>krievu valoda<br /></td>
        <td>334.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/58954/kundzina.jpg" src="https://jvg.edu.lv/media/58954/kundzina_51x77.jpg" /></td>
        <td>Sanita</td>
        <td>Kundziņa</td>
        <td>angļu valoda</td>
        <td>224. </td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107402/kusina.jpg" src="https://jvg.edu.lv/media/107402/kusina_51x76.jpg" /></td>
        <td>Arta</td>
        <td>Kusiņa</td>
        <td>angļu valoda, vācu valoda</td>
        <td>336. </td>
        <td>11.c </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107403/lasmane.jpg" src="https://jvg.edu.lv/media/107403/lasmane_51x76.jpg" /></td>
        <td>Biruta</td>
        <td>Lasmane</td>
        <td>datorika</td>
        <td>
          <p>232.</p>
        </td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107405/meksa.jpg" src="https://jvg.edu.lv/media/107405/meksa_51x76.jpg" /></td>
        <td>Stella</td>
        <td>Mekša</td>
        <td>krievu valoda </td>
        <td>302.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107408/modnika.jpg" src="https://jvg.edu.lv/media/107408/modnika_51x76.jpg" /></td>
        <td>Kristīne</td>
        <td>Modnika</td>
        <td>latviešu valoda</td>
        <td>328.</td>
        <td>12.b</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/132263/nekozs.jpg" src="https://jvg.edu.lv/media/132263/nekozs_51x80.jpg" /></td>
        <td>Andrejs</td>
        <td>Nekozs</td>
        <td>fizika</td>
        <td>225.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/109582/priekule.jpg" src="https://jvg.edu.lv/media/109582/priekule_51x76.jpg" /></td>
        <td>Dzintra</td>
        <td>Priekule</td>
        <td>ģeogrāfija, vēsture un sociālās zinātnes<br /></td>
        <td>327.</td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Raivis</td>
        <td>Rasnačs</td>
        <td>programmēšana, datorika<br /></td>
        <td>235.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107410/ravina.jpg" src="https://jvg.edu.lv/media/107410/ravina_51x76.jpg" /></td>
        <td>Inese</td>
        <td>Rāviņa</td>
        <td>ķīmija, bioloģija</td>
        <td>233.</td>
        <td>9.b</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107411/rubikis.jpg" src="https://jvg.edu.lv/media/107411/rubikis_51x76.jpg" /></td>
        <td>Rolands</td>
        <td>Rubiķis</td>
        <td>dizains un tehnoloģijas, inženierzinības<br /></td>
        <td>511.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107412/saksone.jpg" src="https://jvg.edu.lv/media/107412/saksone_51x76.jpg" /></td>
        <td>Sandra</td>
        <td>Saksone</td>
        <td>matemātika</td>
        <td>318.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107413/saulite.jpg" src="https://jvg.edu.lv/media/107413/saulite_51x76.jpg" /></td>
        <td>Inga</td>
        <td>Saulīte</td>
        <td>dizains un tehnoloģijas, tehniskā grafika, inženierzinības<br /></td>
        <td>522.</td>
        <td>11.b</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107414/seglere.jpg" src="https://jvg.edu.lv/media/107414/seglere_51x76.jpg" /></td>
        <td>Dace</td>
        <td>Seglēre</td>
        <td>angļu valoda</td>
        <td>337.</td>
        <td>9.c</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107415/skrebele.jpg" src="https://jvg.edu.lv/media/107415/skrebele_51x76.jpg" /></td>
        <td>Elga</td>
        <td>Skrebele</td>
        <td>vizuālā māksla, kultūras pamati<br /></td>
        <td>331.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107416/skutele.jpg" src="https://jvg.edu.lv/media/107416/skutele_51x76.jpg" /></td>
        <td>Zanda</td>
        <td>Skutele</td>
        <td>ģeogrāfija, latviešu valoda</td>
        <td>321.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/195833/spurins.jpg" src="https://jvg.edu.lv/media/195833/spurins_51x77.jpg" /></td>
        <td>Ēriks</td>
        <td>Spuriņš</td>
        <td>ģeogrāfija, Latvijas un pasaules vēsture</td>
        <td>322.</td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Sarmīte</td>
        <td>Stikāne</td>
        <td>sociālās zinības, dizains un tehnoloģijas</td>
        <td>316.</td>
        <td>8.a</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/109581/scadro.jpg" src="https://jvg.edu.lv/media/109581/scadro_51x76.jpg" /></td>
        <td>Laila</td>
        <td>Ščadro</td>
        <td>psihologs</td>
        <td>612.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107418/steinberga.jpg" src="https://jvg.edu.lv/media/107418/steinberga_51x76.jpg" /></td>
        <td>Anita</td>
        <td>Šteinberga</td>
        <td>angļu valoda, vācu valoda</td>
        <td>223.</td>
        <td>7.a</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107419/tumanova.jpg" src="https://jvg.edu.lv/media/107419/tumanova_51x76.jpg" /></td>
        <td>Silvija</td>
        <td>Tumanova</td>
        <td>latviešu valoda</td>
        <td>324.</td>
        <td>10.a</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107420/turkopole.jpg" src="https://jvg.edu.lv/media/107420/turkopole_51x76.jpg" /></td>
        <td>Sandra</td>
        <td>Turkopole</td>
        <td>ķīmija</td>
        <td>112.</td>
        <td> </td>
      </tr>
      <tr>
        <td> </td>
        <td>Laura</td>
        <td>Umbraško</td>
        <td>Latvijas un pasaules vēsture</td>
        <td>323.</td>
        <td>11.a</td>
      </tr>
      <tr>
        <td><img width="51" height="76" src="https://jvg.edu.lv/media/58933/urpena_51x76.jpg" /></td>
        <td>Ligita</td>
        <td>Urpena</td>
        <td>angļu valoda</td>
        <td>222.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107421/vanaga.jpg" src="https://jvg.edu.lv/media/107421/vanaga_51x76.jpg" /></td>
        <td>Anita</td>
        <td>Vanaga</td>
        <td>sociālais pedagogs</td>
        <td>334. </td>
        <td>9.d</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/58936/vanagele.jpg" src="https://jvg.edu.lv/media/58936/vanagele_51x73.jpg" /></td>
        <td>Janīna</td>
        <td>Vanaģele</td>
        <td>latviešu valoda</td>
        <td>311.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107422/varna.jpg" src="https://jvg.edu.lv/media/107422/varna_51x76.jpg" /></td>
        <td>Edīte</td>
        <td>Vārna</td>
        <td>matemātika, fizika</td>
        <td>314.</td>
        <td>8.b</td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107423/vevere.jpg" src="https://jvg.edu.lv/media/107423/vevere_51x76.jpg" /></td>
        <td>Zaiga</td>
        <td>Vēvere</td>
        <td>bioloģija, dabaszinības<br /></td>
        <td>119.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107426/vilcane.jpg" src="https://jvg.edu.lv/media/107426/vilcane_51x76.jpg" /></td>
        <td>Sarmīte</td>
        <td>Vilcāne</td>
        <td>matemātika</td>
        <td>315.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/109584/zarina.jpg" src="https://jvg.edu.lv/media/109584/zarina_51x76.jpg" /></td>
        <td>Ilze</td>
        <td>Zariņa</td>
        <td>bioloģija, datorika<br /></td>
        <td>326.<br />335.</td>
        <td> </td>
      </tr>
      <tr>
        <td><img data-original="https://jvg.edu.lv/media/107431/zdanovskis.jpg" src="https://jvg.edu.lv/media/107431/zdanovskis_51x76.jpg" /></td>
        <td>Harijs</td>
        <td>Zdanovskis</td>
        <td>instrumenta spēle<br /></td>
        <td> </td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</article>