<!DOCTYPE html>
<html lang="lv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" type="image/x-icon" href="files/images/logo.png">
  <title>JVĢ</title>
  <!-- SCRIPTS -->
  <script defer src="js/index.js"></script>
  <script src="https://kit.fontawesome.com/74e30751de.js" crossorigin="anonymous"></script>
  <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Lightbox CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
  <!-- Lightbox JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
  <script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'disableScrolling': true
    })
  </script>
  <!-- STYLES -->
  <link href="css/main.css" rel="stylesheet" />
</head>

<body>
  <header>
    <a id="Logo" href="/">
      <img src="files/images/logo.webp" />
      <div id="LogoName">
        <h2>Jēkabpils</h2>
        <h3>Valsts ģimnāzija</h3>
      </div>
    </a>
    <a href="#" id="Menu" class="fa-solid fa-bars" style="font-size: 2em;"></a>
    <nav>
      <ul>
        <li><a href="/parskolu" data-page="parskolu">Par skolu</a></li>
        <li><a href="/zinas" data-page="zinas">Ziņas</a></li>
        <li><a href="/macibas" data-page="macibas">Mācībām</a></li>
        <li><a href="/darbinieki" data-page="darbinieki">Darbinieki</a></li>
        <li><a href="/skoleniem" data-page="skoleniem">Skolēniem</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <aside>
      <h1>Saturs</h1>
      <ul id="Sidebar-list">
      </ul>
    </aside>
    <main>
      <%- include (content)%>
    </main>
  </div>
  <footer>
    <div>
      <h3>Autortiesības</h3>
      <p>&copy; 2024</p>
    </div>
    <div>
      <h3>Kontakt informācija</h3>
      <p><i class="fa fa-envelope"></i> Epasts: jvg@edu.jekabpils.lv</p>
      <p><i class="fa fa-phone"></i> Numurs: +371 65237551</p>
      <a target="_blank" href="https://maps.app.goo.gl/1eHQD7EJnqK95EgXA"><i class="fa fa-map-marker"></i> Adrese: Rūdolfa Blaumaņa iela 27, Jēkabpils, Jēkabpils novads, LV-5201</a>
    </div>
    <div>
      <h3>Sociālie mēdiji</h3>
      <a target="_blank" href="https://www.facebook.com/jekabpilsvg/"><i class="fa-brands fa-facebook"></i> Facebook</a>
      <a target="_blank" href="https://twitter.com/JekabpilsVG"><i class="fa-brands fa-twitter"></i> Twitter</a>
      <a target="_blank" href="https://www.instagram.com/jvg_parlaments/"><i class="fa-brands fa-instagram"></i>Instagram</a>
    </div>
  </footer>
</body>

</html>