<!DOCTYPE html>
<html lang="lv">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <link rel="icon" type="image/x-icon" href="/public/files/images/logo.webp">
  <link rel="apple-touch-icon" href="/public/files/images/logo.webp">
  <title><%= pageTitle%></title>
  <!--Font-->
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <!-- CSS -->
  <link rel="stylesheet" href="public/css/color.css">
  <link rel="stylesheet" href="public/css/main.css">
  <!-- JS -->
  <script defer src="public/js/index.js"></script>
  <script defer src="public/js/smooth.js"></script>
  <!-- Icons -->
  <script src="https://kit.fontawesome.com/74e30751de.js" crossorigin="anonymous"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--Sortable-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li><button onclick="Display('Sidebar')"><i class="fa-solid fa-list"></i><p>Saturs</p></button></li>
      <li><button onclick="Top()" id="Top"><i class="fa-solid fa-up-long"></i><p>Uz augšu</p></button></li>
      <li><button onclick="Display('menu')"><i class="fa-solid fa-bars"></i><p>Sadaļas</p></button></li>
    </ul>
  </nav>
  <nav id="menu">
    <div id="logo">
      <img src="/public/files/images/logo.webp" alt="logo">
    </div>
    <ul>
      <% routes.forEach((route) =>{ %>
        <li><a href="/<%= route.Name %>"><%= route.Name %></a></li>
      <% }) %>
    </ul>
  </nav>
  <aside id="Sidebar">
    <nav>
      <ul id="Sidebar-list">
      </ul>
    </nav>
  </aside>
  <main>
      <%- content%>
      <footer class="line">
        <div>
          <h3 class="muted">Autortiesības</h3>
          <p>&copy; 2024 Benedikts</p>
        </div>
        <div>
          <h3 class="muted">Kontaktinformācija</h3>
          <p><i class="fa fa-envelope"></i> jvg@edu.jekabpils.lv</p>
          <p><i class="fa fa-phone"></i> +371 65237551</p>
          <a target="_blank" href="https://maps.app.goo.gl/1eHQD7EJnqK95EgXA"><i class="fa fa-map-marker"></i> Rūdolfa Blaumaņa iela 27, Jēkabpils, Jēkabpils novads, LV-5201</a>
        </div>
        <div>
          <h3 class="muted">Sociālie mēdiji</h3>
          <a style="font-size: 30px; padding: 5px;" target="_blank" href="https://www.facebook.com/jekabpilsvg/" class="fa-brands fa-facebook"></a>
          <a style="font-size: 30px; padding: 5px;" target="_blank" href="https://twitter.com/JekabpilsVG" class="fa-brands fa-twitter"></a>
          <a style="font-size: 30px; padding: 5px;" target="_blank" href="https://www.instagram.com/jvg_parlaments/" class="fa-brands fa-instagram"></a>
        </div>
      </footer>
  </main>
  <script>
      function Display(id){
          
          // Show the clicked element
          let element = document.getElementById(id);
          element.style.display = 'flex';
          
          // Toggle active class
          element.classList.toggle('active');
      }
  </script>
</body>
</html>