<h2 style="color: green;">!!!(Nav pabeigta, tiks pilnībā izmainīta.)!!!</h2>
<h1>Jauda Vērtības Ģimeniskums</h1>
<article>
  <p>Moderna skola ar vairākiem aizraujošiem pasākumiem, kur skolēni piedalās, parādot savus talantus un prasmi komunicēt.</p>
  <button>Pievienojies!</button>
</article>