<h1 id="Stundu_sarakst">Stundu sarakst</h1>
<article>
  <a target="_blank" href="https://jvg.edu.lv/media/96457/stundu-saraksts.pdf">Stundu saraksts .pdf</a>
</article>
<hr>
<h1 id="Zvanu_laiki">Zvanu laiki</h1>
<article>
  <div>
    <table>
      <thead>
        <tr>
          <td>nr.</td>
          <td>No</td>
          <td>Līdz</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0.</td>
          <td>08:15</td>
          <td>08:55</td>
        </tr>
        <tr>
          <td>1.</td>
          <td>09:05</td>
          <td>09:45</td>
        </tr>
        <tr>
          <td>2.</td>
          <td>09:55</td>
          <td>10:35</td>
        </tr>
        <tr>
          <td>3.</td>
          <td>10:45</td>
          <td>11:30</td>
        </tr>
        <tr>
          <td>4.</td>
          <td>11:40</td>
          <td>12:20</td>
        </tr>
        <tr>
          <td colspan="3">Pusdienu laiks 50 min</td>
        </tr>
        <tr>
          <td>5.</td>
          <td>13:10</td>
          <td>13:50</td>
        </tr>
        <tr>
          <td>6.</td>
          <td>14:00</td>
          <td>14:40</td>
        </tr>
        <tr>
          <td>7.</td>
          <td>14:50</td>
          <td>15:30</td>
        </tr>
        <tr>
          <td>8.</td>
          <td>15:40</td>
          <td>16:20</td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
<hr>
<h1 id="Konsultāciju_grafiki">Konsultāciju grafiki</h1>
<article>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:x:/s/JVskolotji/EcYX42r7fxRFmAbWXdVBBmoBleUZYtSHn7xAMPs9-eLVrA?e=EiUY6u">Konstultāciju grafiks .excel</a>
</article>
<hr>
<h1 id="Programmas">Programmas</h1>
<article>
  <h2>Vispārējās vidējās izglītības programma</h2>
  <p>Programmai ir 4 virzieni – matemātikas, dabaszinību, humanitārais (valodu) un humanitārais (mākslu).
    Katram virzienam ģimnāzija ir noteikusi divus obligāti apgūstamos padziļinātos kursus. Trešo kursu skolēns izvēlas no piedāvātajiem. Savukārt ģimnāzija kā trešo kursu apstiprina skolēnu vairākuma izvēli</p>
  <div>
    <table>
      <thead>
        <tr>
          <td><strong>1. Humanitārais</strong><br />(valodu) virziens</td>
          <td><strong>2. Humanitārais<br /></strong>(mākslu) virziens</td>
          <td><strong>3. Dabaszinātņu<br /></strong>virziens (medicīna,<br />farmācija, vides zinības, lauksaimniecība)</td>
          <td><strong>4. Matemātikas<br /></strong>virziens<br />(inženierzinātnes,<br />informācijas tehnoloģijas)</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <p><span>Obligāti apgūstamie padziļinātie kursi:</span><br />1. Latviešu valoda un literatūra II <br />2. Svešvaloda (angļu) II<br /><br /></p>
          </td>
          <td><span>Obligāti apgūstamie padziļinātie kursi:</span><br />1. Latviešu valoda un<br />literatūra II<br />2. Kultūra un māksla II</td>
          <td><span>Obligāti apgūstamie padziļinātie kursi:</span><br />1. Ķīmija II<br />2. Bioloģija II<br /><br /></td>
          <td><span>Obligāti apgūstamie padziļinātie kursi:</span><br />1. Matemātika II<br />2. Fizika II<br /><br /></td>
        </tr>
        <tr>
          <td><span>3. Skolēna izvēle:</span><br />3.1. vēsture II<br />3.2. sociālās zinātnes II<br />3.3. bioloģija II<br />3.4. fizika II<br /><br /></td>
          <td><span>3. Skolēna izvēle:</span><br />3.1. svešvaloda (angļu) II<br />3.2. vēsture II<br />3.3. sociālās zinātnes II<br /><br /><br /><br /></td>
          <td><span>3. Skolēna izvēle:</span><br />3.1. matemātika II<br />3.2. fizika II<br />3.3. svešvaloda (angļu) II<br />3.4. vēsture II<br />3.5. sociālās zinātnes II</td>
          <td><span>3. Skolēna izvēle:</span><br />3.1. bioloģija II<br />3.2. ķīmija II<br />3.3. programmēšana II<br />3.4. svešvaloda (angļu) II<br />3.5. vēsture II<br />3.6. sociālās zinātnes II</td>
        </tr>
        <tr>
          <td><a target="_blank" href="https://jvg.edu.lv/media/137672/jvg_humanitarais-valodu-_virziens.pdf" title="Humanitārais (valodu) virziens">Apskatīties plānu</a></td>
          <td><a target="_blank" href="https://jvg.edu.lv/media/137663/jvg_humanitarais-makslu-_virziens.pdf" title="Humanitārais (mākslu) virziens">Apskatīties plānu</a></td>
          <td><a target="_blank" href="https://jvg.edu.lv/media/137666/jvg_dabaszinatnu_virziens.pdf" title="Dabaszinātņu virziens">Apskatīties plānu</a></td>
          <td><a target="_blank" href="https://jvg.edu.lv/media/137669/jvg_matematikas_virziens.pdf" title="4. Matemātikas virziens">Apskatīties plānu</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ol>12. klasē skolēniem ir iespēja izvēlēties apgūt specializēto kursu. Jēkabpils Valsts ģimnāzija piedāvā šādus specializētos kursus:
    <li>Uzņēmējdarbības pamati</li>
    <li>Radošā rakstīšana</li>
    <li>Astronomija</li>
    <li>Projektīvā ģeometrija</li>
    <li>Tehniskā grafika</li>
  </ol>
  <h2>Pamatizglītības 2.posma (7.-9.klase) programma mūzikā</h2>
  <p>Īstenojot pamatizglītības otrā posma programmu ar augstākiem sasniedzamiem rezultātiem mūzikā, tiek nodrošināta pēctecība padziļinātā mūzikas priekšmeta apguvē, katrā klasē paredzot vienu stundu papildus pamatizglītības programmas paraugā jau esošajai vienai stundai, kā arī iesaistot šo klašu skolēnus grupu un individuālajā darbā.</p>
  <p>Ģimnāzijā, pateicoties ilggadējai profesionāli orientēta virziena programmas ar padziļinātu mūzikas apguvi realizēšanai, vairākus gadu desmitus kopš 1981.gada darbojas tradīcijām bagāti muzikālie kolektīvi. Ģimnāzijas kori (jauktais un meiteņu) un pūtēju orķestris ir bijuši visu Latvijas Skolu jaunatnes dziesmu un deju svētku un visu vispārējo latviešu Dziesmu un Deju svētku dalībnieki kopš 1984. gada.</p>
  <p>Programmas mērķis ir sasniegt augstākus plānotos rezultātus mūzikā, tādējādi virzoties uz izcilību skolēnu radošo, intelektuālo un emocionālo spēju attīstībā, Latvijas un pasaules mūzikas kultūras vērtību izzināšanā, līdzdarbojoties mūzikas tradīciju pārmantošanā.</p>
  <a target="_blank" href="https://jvg.edu.lv/media/137708/jvg_psk_padz_muzika.pdf" title="Pamatizglītības 2.posma (7. – 9.klase) programma ar plānotiem augstākiem sasniedzamiem rezultātiem mūzikā">Apskatīties plānu</a><br>
  <h2>Pamatizglītības 2.posma (7.-9.klase) programma matemātikā</h2>
  <p>Pamatizglītības programma ar augstākiem sasniedzamiem rezultātiem matemātikā tiks realizēta, paredzot vienu stundu papildus paraugplānā noteiktajam, kā arī darbā grupās, individuāli un matemātiskajās aktivitātēs ārpus stundām.</p>
  <p>Programmas mērķis ir sasniegt augstākus plānotos rezultātus matemātikā, tādējādi virzoties uz izcilību matemātiskajā pratībā, lai sekmētu valstī kā prioritāri noteikto inženiertehnisko zinātņu profesiju izvēli</p>
  <a target="_blank" href="https://jvg.edu.lv/media/137711/jvg_psk_padz_matematika.pdf" title="Pamatizglītības 2.posma (7. – 9.klase) programma ar plānotiem augstākiem sasniedzamiem rezultātiem matemātikā">Apskatīties plānu</a>
</article>