<h1 id="Himna">Himna</h1>
<article>
  <p>
    <i>(Skaidrītes Pugačas vārdi un mūzika)</i><br><br>
    Dienas kā gājputni steidzas,<br>
    Sapņi un ilgas līdzi tiem trauc.<br>
    Skola, Tu dodi man spārnus,<br>
    Lai pacelties spēju gājputniem līdz.<br><br>
    <i>Piedziedājums:</i><br><br>
    Jo Tevī spēku es smeļu,<br>
    Krāju un ceļā ņemu sev līdz,<br>
    Uz to zvaigzni, augšup kas sauc arvienu.<br>
    Skola, izsīkt man neļauj,<br>
    Veldzi no Tevis kā no avota dzert,<br>
    Manā sirdī vārds Tavs uz mūžu ierakstīts.<br><br>
    Mirkļus virtenē veru,<br>
    Gadi kā stīgas dvēselē skan.<br>
    Saknes dziļi atstātas Tevī,<br>
    Un daļa no manis šai dziesmā lai skan.<br><br>
  </p>
  <iframe width="65%" height="auto" src="https://www.youtube.com/embed/3vh15h3rnJI?feature=oembed"></iframe>
</article>
<hr>
<h1 id="Karogs">Karogs</h1>
<article>
  <p>
    Jēkabpils Valsts ģimnāzijas karogu 1939.gadā skolai, kuras sastāvā toreiz bija arī Jēkabpils Valsts komercskola, dāvāja Latgales artilērijas pulks. Svinīgajā pasākumā to saņēma skolas direktors Žanis Līnis.<br>
    Karoga mets (kuru izgatavoja ievērojams novada mākslinieks, arī skolotājs Andrejs Pormalis) tika apstiprināts Izglītības Ministrijas skolu departamentā 1939.gada martā.<br>
    Devīze: „Mūsu Darbs un Mūsu Zināšanas Tēvzemei”.<br>
    Uz karoga ir attēlota toreizējā baltā skolas ēka, kur skola tika dibināta 1919.gadā (pašreiz Jēkabpils agrobiznesa koledžas ēka).<br>
    1990.gadā šis karogs tika atjaunots un tiek glabāts skolas muzejā. Lietots tiek svinīgos pasākumos, izlaidumos, 1.septembrī, Valsts svētkos. Žetonu vakarā pie karoga tradicionāli abiturienti piesprauž skolas žetonu. Skolas muzejā ir apskatāms A.Pormaļa mets, bet pirmais skolas karogs nav saglabājies.<br>
  </p>
  <div class="gallery">
    <a href="files/images/flag_back.webp" data-lightbox="Bilde">
      <img src="files/images/flag_back.webp">
    </a>
    <a href="files/images/flag_front.webp" data-lightbox="Bilde">
      <img src="files/images/flag_front.webp">
    </a>
  </div>
</article>
<hr>
<h1 id="Vēsture">Vēsture</h1>
<article>
  <p>
    • 1919. gada 6. oktobrī - skola dibināta kā pirmā reāltipa mācību iestāde apriņķī.<br>
    • 1922./23. m.g. - pie vidusskolas atvērta komercnodaļa.<br>
    • 1927./28. m.g. - komercnodaļa pārorganizēta par komercskolu.<br>
    • 1932. - 1939. gadā un 1941. - 1944. gadā - šī mācību iestāde ir Jēkabpils Valsts ģimnāzija.<br>
    • 1948. gadā - vidusskola pilnībā atdalās no komercskolas.<br>
    • 1950./51. m.g. - skola iegūst Jēkabpils 1. vidusskolas nosaukumu, pievienota Krasta skolas ēka.<br>
    • 1966. gadā - uzcelta pirmā piebūve.<br>
    • 1979. gadā - uzcelta otrā piebūve.<br>
    • 1982. gadā - nodots sporta korpuss.<br>
    • 1990. gadā - atjaunots 1939. gada Jēkabpils Valsts ģimnāzijas un Jēkabpils Valsts komercsskolas karogs ar uzrakstu “Mūsu darbs un zinašanas - Tēvzemei”.<br>
    • 1993. gada jūnijā - Jēkabpils 1. vidusskola akredetācijas rezultātā kļūst par Jēkabpils ģimnāziju.<br>
    • 1994. gada septembrī - nodibināta Jēkabpils sākumskola, no ģimnāzijas pakāpeniski atdalās sākumskolas klases.<br>
    • Savas pastāvēšanas 75 gados skolai ir bijis 71 izlaidums, skolu beiguši vairak nekā 3000 audzēkņu.<br>
    • 1996. gada septembrī - ģimnāzija iegūst Valsts ģimnāzijas statusu.<br>
    • 2002. gada vasara - skolas renovācija.<br>
  </p>
</article>
<div class="gallery">
  <a href="https://jvg.edu.lv/media/2168/SKOLAVEC.JPG" data-lightbox="Bilde">
    <img src="files/images/school_old1.webp">
  </a>
  <a href="https://jvg.edu.lv/media/2163/SKOLAVE4.JPG" data-lightbox="Bilde">
    <img src="files/images/school_old2.webp">
  </a>
  <a href="https://jvg.edu.lv/media/2158/SKOLAVE2.JPG" data-lightbox="Bilde">
    <img src="files/images/school_old3.webp">
  </a>
  <a href="https://jvg.edu.lv/media/2148/skola111.jpg" data-lightbox="Bilde">
    <img src="files/images/school_old4.webp">
  </a>
</div>
<hr>
<h1 id="Atmiņu_stāsti">Atmiņu stāsti</h1>
<article>
  <p>
    Aicinām ikvienu, kas absolvējis vai strādājis mūsu skolā, individuāli vai skolas laika draugu, kolēģu grupās rakstīt skolas laika atmiņu stāstus un sūtīt tos uz skolas e–pastu jvg@jvg.edu.lv Priecāsimies, ja rakstu papildināsiet ar fotogrāfijām. Foto lūgums elektroniskajai vēstulei pievienot arī atsevišķi. Tie, kas joprojām tur cieņā ar roku rakstītus tekstus, savas atmiņas un fotogrāfijas var sūtīt uz adresi: Jēkabpils Valsts ģimnāzija, R.Blaumaņa 27, Jēkabpils, LV 5201 Paldies pirmajiem iesūtītājiem! Un visiem pārējiem!
  </p><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/epizodes-par-raibo-dzīvi-internātā-no-1955-gada-rudens-līdz-1959-gada-vasara.aspx">• Epizodes par raibo dzīvi internātā no 1955. gada rudens līdz 1959. gada vasara</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/jēkabpils-valsts-ģimnāzijai-100-skolas-vēstures-stāsti-notikumi-un-personības.aspx">• Jēkabpils Valsts ģimnāzijai 100. Skolas vēstures stāsti, notikumi un personības…</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/skola-mana-darba-vieta-māja-sirds.aspx">• “Skola - mana darba vieta, māja, sirds...”</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/gadi-kā-dzērvju-kāsis-pagaist-debesīs.aspx">• Gadi kā dzērvju kāsis pagaist debesīs</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/atmiņas-par-manu-fizikas-skolotāju-klases-audzinātāju-un-treneri-tālivaldi-asariņu.aspx">• Atmiņas par manu fizikas skolotāju, klases audzinātāju un treneri Tālivaldi Asariņu</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/atmiņas-par-skolu.aspx">• Atmiņas par skolu</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/ieraugs-skolotāja-asariņa-1959-gadā-pulcinātās-pirmās-orientieristu-komandas-dalībnieku-atmiņas.aspx">• IERAUGS (skolotāja Asariņa 1959. gadā pulcinātās pirmās orientieristu komandas dalībnieku atmiņas)</a><br>
  <a target="_blank" href="https://jvg.edu.lv/info-par-skolu/atmiņu-stāsts/skolas-100-gadu-jubileju-gaidot.aspx">• Skolas 100 gadu jubileju gaidot</a><br>
</article>
<hr>
<h1 id="Absolventi">Absolventi</h1>
<article>
  <a target="_blank" href="https://jvg.edu.lv/media/71392/absolventi-12.pdf" title="Absolventu saraksts (pdf)">• Vidusskolas absolventu saraksts (1922. - 2023.)</a><br>
  <a target="_blank" href="https://jvg.edu.lv/media/71389/absolventi-9.pdf" title="Pamatskolas absolventu saraksts (pdf)">• Pamatskolas absolventu saraksts (2004. - 2023.)</a><br>
  <p>Ja gadījumā šajos sarakstos atrodat kādu kļūdu vai nepilnību, lūdzam mums ziņot uz e-pastu: jvg@edu.jekabpils.lv</p>
</article>
<hr>
<h1 id="Gadagrāmata">Gadagrāmata</h1>
<article>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EV3lyzxuWn9HjGCiHp6rJK4BDTWVavWmOJcAiFbX8sBAUg?e=hh37rX" title="Gadagrāmata 2021./2022.m.g.">• Gadagrāmata 2021./2022.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/ET1Hash6msVEu2gPw_E3L8UBu8VNWdc6MQ-t2Ebu0Qdg8g?e=CEtzEn" title="Gadagrāmata 2020./2021.m.g.">• Gadagrāmata 2020./2021.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/ER6bKsgpvPBHl0dFZ700oS8Bu4aM2SDcgmvt_HUCgtNQRw?e=EDHwPc" title="Gadagrāmata 2019./2020.m.g.">• Gadagrāmata 2019./2020.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EaKdFE2TWyNOoqz0GEZF-kQBni3tBQIUZRWPpol7FjyoRQ?e=VtHpg0" title="Gadagrāmata 2018./2019.m.g.">• Gadagrāmata 2018./2019.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EejDLskuNABMuZsm04pnX-4BXNxVelmFx8U-2E2tQkHAyA?e=eUTdyU" title="Gadagrāmata 2017./2018.m.g.">• Gadagrāmata 2017./2018.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EUicc356qTlNlDxSVynMgIAB6aiyUQljljxlut8yNdt6zQ?e=VuruV7" title="Gadagrāmata 2016./2017.m.g.">• Gadagrāmata 2016./2017.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EbfyltrRKL5PoQ1q0ChPAu4BFsCk2ABzQQaMiLpg9pXxrA?e=bGriYQ" title="Gadagrāmata 2015./2016.m.g.">• Gadagrāmata 2015./2016.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EV3bGp40nFJOvttEML8eDgwB0RkbmT7N_Nf9lN3Y8FBIGw?e=CER5RM" title="Gadagrāmata 2014./2015.m.g.">• Gadagrāmata 2014./2015.m.g.</a><br>
  <a target="_blank" href="https://jekabpils.sharepoint.com/:b:/s/JVskolotji/EbAxDqe_zFBPkNNMmREzT9QBiEN3DQPt6NQ-XH-AJj9fkw?e=ady5KT" title="Gadagrāmata 2012./2013.m.g.">• Gadagrāmata 2012./2013.m.g.</a>
</article>