<h1 id="Bibliotēka">Bibliotēka</h1>
<article>
  <div>
    <table>
      <thead>
        <tr>
          <td> </td>
          <td>
            JVĢ bibliotēkas<br />darba laiks
          </td>
          <td>Kopēšanas pakalpojumu<br />darba laiks</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Pirmdien</td>
          <td>8:00 - 16:30</td>
          <td>8:00 - 15:30</td>
        </tr>
        <tr>
          <td>Otrdien</td>
          <td>8:00 - 16:30</td>
          <td>8:00 - 15:30</td>
        </tr>
        <tr>
          <td>Trešdien</td>
          <td>8:00 - 16:30</td>
          <td>8:00 - 15:30</td>
        </tr>
        <tr>
          <td>Ceturtdien</td>
          <td>8:00 - 16:30</td>
          <td>8:00 - 15:30</td>
        </tr>
        <tr>
          <td>Piektdien</td>
          <td>8:00 - 16:30</td>
          <td>8:00 - 15:30</td>
        </tr>
      </tbody>
    </table>
  </div>
  <a target="_blank" href="https://jvg.edu.lv/media/17402/bibl-not.pdf" title="Bibliotēkas lietošanas noteikumi">Bibliotēkas lietošanas noteikumi .pdf</a><br>
  <a target="_blank" href="http://jekabpils.biblioteka.lv/Alise/lv/13/home.aspx" title="Jēkabpils reģiona un Neretas novada publisko un skolu bibliotēku kopkatalogs">Jēkabpils reģiona un Neretas novada publisko un skolu bibliotēku kopkatalogs</a>
</article>
<hr>
<h1 id="Parlaments">Parlaments</h1>
<article>
  <p>
    2023./2024. mācību gadā skolas parlamenta prezidente - Anete Gogule, parlamenta prezidentes vietnieki pamatskolā - , parlamenta prezidentes vietniece vidusskolā - 
Jēkabpils Valsts ģimnāzijas skolēnu parlamentā darbojas radoši un aktīvi ģimnāzijas skolēni gan no vidusskolas, gan pamatskolas klasēm. Parlamenta atbalsta persona ir direktora vietniece Dace Druveniece.

Skolēnu parlamenta galvenie uzdevumi ir uzlabot skolas dzīvi skolēniem, skolotājiem un arī skolas darbiniekiem. JVĢ skolēnu parlaments organizē dažādas akcijas, pasākumus un uzklausa skolēnu domas par to, kas skolā jauns ieviešams un nepieciešams un kas būtu jālikvidē.Katra mācību gada sākumā parlaments organizē jauno parlamentāriešu uzņemšanu savā pulkā. Ja arī Tu vēlies kļūt par vienu no mums, tad mācību gada sākumā droši nāc uz atlasi! Protams, jebkurš skolas skolēns drīkst ierasties uz parlamenta sēdēm, jo visas mūsu sēdes ir atvērtas klausītājiem un mēs uzklausīsim jebkuru ierosinājumu.Ikviens aicināts rakstīt parlamenta prezidentei Elīzai Koļesinskai vai jebkuram parlamentārietim E-klases pastā. Droši raksti! Mēs gaidīsim jūsu vēstules un ieteikumus!
  </p>
</article>
<hr>
<h1 id="Interešu izglītība">Interešu izglītība</h1>
<article>
  <p>
    Ģimnāzijā ir plašas iespējas interešu izglītībā: deju kolektīvs “Kauranieši”, pūtēju orķestris “Vitamīns”, jauktais koris “Ritums”, jauniešu vokālā grupa; nodarbības prāta spēļu istabā, iespēja apgūt ķīniešu valodu, vidusskolēniem iespēja apgūt filozofiju un politiku un tiesības.
  </p>
</article>