<h1 id="Bibliotēka">Bibliotēka</h1>
<article>
  <table>
    <thead>
      <tr>
        <td> </td>
        <td>
          JVĢ bibliotēkas<br />darba laiks
        </td>
        <td>Kopēšanas pakalpojumu<br />darba laiks</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pirmdien</td>
        <td>8:00 - 16:30</td>
        <td>8:00 - 15:30</td>
      </tr>
      <tr>
        <td>Otrdien</td>
        <td>8:00 - 16:30</td>
        <td>8:00 - 15:30</td>
      </tr>
      <tr>
        <td>Trešdien</td>
        <td>8:00 - 16:30</td>
        <td>8:00 - 15:30</td>
      </tr>
      <tr>
        <td>Ceturtdien</td>
        <td>8:00 - 16:30</td>
        <td>8:00 - 15:30</td>
      </tr>
      <tr>
        <td>Piektdien</td>
        <td>8:00 - 16:30</td>
        <td>8:00 - 15:30</td>
      </tr>
    </tbody>
  </table>
  <a target="_blank" href="https://jvg.edu.lv/media/17402/bibl-not.pdf" title="Bibliotēkas lietošanas noteikumi">Bibliotēkas lietošanas noteikumi .pdf</a><br>
  <a target="_blank" href="http://jekabpils.biblioteka.lv/Alise/lv/13/home.aspx" title="Jēkabpils reģiona un Neretas novada publisko un skolu bibliotēku kopkatalogs">Jēkabpils reģiona un Neretas novada publisko un skolu bibliotēku kopkatalogs</a>
</article>
<hr>
<h1 id="Parlaments">Parlaments</h1>
<article>

</article>
<hr>