body {
    display: flex;
    margin: 0;
    margin-top: 50px;
}
form {
    position: sticky;
    width: 35vw;
    top: 50px;
    margin: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.074);
}
input, select{
    height: 40px !important;
    padding: 2px;
}
label:has(#P){
    margin: 0.5em 0;
}
#P{
    height: auto;
}
nav{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 50px;
    background-color: var(--pico-primary);
    align-content: center;
    padding-left: 10px;
    margin-bottom: 10px;
}
nav *{
    color: #fff
}
a{
    margin-left: 10px;
}
/* context menu*/
.context-menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ffffff;
    border-radius: 0px 10px 10px 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.63);
    z-index: 1000;
}
.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.context-menu ul li{
    list-style: none;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
}
.context-menu ul li:hover{
    background-color: white;
    color: black;
}
.context-menu ul li:not(:last-child){
    border-bottom: 1px solid white;
}
.context-menu ul li:last-child{
    background-color: var(--pico-primary);
}
.context-menu ul li:last-child:hover{
    background-color: rgb(227, 227, 227);
    color: var(--pico-primary);
}

#Logout{
    background-color: var(--pico-primary);
    border: none;
    color: #fff;
}
#pico-reference {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid #ddd;
    padding: 5px;
    background: var(--pico-background-color);
    height: 100vh;
    overflow-y: auto;
    width: 70vw;
    z-index: 10009999;
}
.cke_button_icon.cke_button__picoReferenceIcon_icon {
    background: none;
    font-size: 16px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cke_button_icon.cke_button__picoReferenceIcon_icon:before {
    content: '\f02d'; /* Font Awesome Unicode for book icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; /* Ensure correct weight for the icon */
}
.example-container {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}
.example-preview, .example-code {
    flex: 1;
    width: 50%;
}
.example-code pre {
    padding: 5px;
    border-radius: 5px;
    overflow-x: auto;
}
#submitBtn{
    margin-top: 10px;
}
#contentForm{
    border-right: 2px solid rgb(128, 128, 128);
}
table{
    margin: 0;
    padding: 0;
}
details{
    margin: 5px 10px;
    padding: 0;
}   