/* Light theme */
:root {
    --primary: hsl(5, 98%, 41%);
    --secondary: hsl(5, 85%, 58%);
    --accent: hsl(200, 78%, 45%);
    --primary-background: hsl(0, 0%, 98%);
    --navbar-background: hsl(0, 0%, 94%);
    --text: hsl(0, 0%, 15%);
    --muted: hsl(30, 7%, 95%);
    --box-shadow: inset 0 -14px 9px -7px hsl(0, 0%, 84%);
    --h: hsl(0, 0%, 15%);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #ef4839;
        --secondary: hsl(5, 98%, 68%);
        --accent: hsl(200, 100%, 68%);
        --primary-background: hsl(0, 0%, 15%);
        --navbar-background: hsl(0, 0%, 10%);
        --text: hsl(0, 0%, 95%);
        --muted: hsl(0, 0%, 40%);
        --box-shadow: none;
        --h: var(--secondary);
    }
}

body{
    margin: 0;
    font-family: 'Poppins';
    font-size: clamp(12px, 1vw + 3px, 20px);
    line-height: 1.6;
}

*{
    max-width: 100vw;
}

section{
    margin: 0 auto;
    width: calc(fit-content - 2em);
    max-width: 140ch;
    padding: 2em 1em;
    h2{
        margin: 0;
        margin-bottom: 0.4em;
    }
    h1,h3,h4, p, a{
        margin: 0;
        padding: 0.2em 0;
    }
    &.no-padding{
        padding: 0;
    }
    &.bg-primary{
        width: 100%;
        background-color: var(--primary);
        *{
            color: hsl(0, 0%, 95%);
        }
    }
    &.bg-secondary{
        width: 100%;
        background-color: var(--secondary);
        *{
            color: hsl(0, 10%, 90%);
        }
    }
    &.bg-muted{
        width: 100%;
        background-color: var(--muted);
    }
}
h1 ,h2 ,h3 ,h4 , p , a , blockquote , i , b, main li, main ul, ol {
    max-width: 75ch;
    text-wrap: balance;
}

ul, ol{
    padding: 1em;
    margin: 0;
}

h1{
    color: hsl(from var(--h) h s l / 100%); /* Lighter than --h */
    font-size: clamp(2.8rem, 5vw + 1rem, 5rem);
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: .05em;
}

h2 {
    color: hsl(from var(--h) h s l / 95%);  /* Slightly lighter */
    font-size: clamp(0.8rem, 3vw + 1rem, 4rem);
    line-height: 1.35;
    font-weight: 900;
    letter-spacing: .05em;
}

h3 {
    color: hsl(from var(--h) h s l / 90%);  /* Slightly transparent */
    font-size: clamp(0.8rem, 2vw + 1rem, 2rem);
    line-height: 1.35;
    font-weight: 900;
    letter-spacing: .05em;
}

h4 {
    color: hsl(from var(--h) h s l / 85%);  /* More transparent */
    font-size: clamp(0.5rem, 1vw + 1rem, 2rem);
    line-height: 1;
    font-weight: 900;
    letter-spacing: .05em;
}

/* Links */
main a {
    color: hsl(from var(--primary) h 75% l); /* Full color */
    text-decoration: underline!important;
    text-decoration-color: hsl(from var(--primary) h s l / 40%)!important;
    text-decoration-thickness: 2px!important;
    text-underline-offset: 3px;
}

a:hover {
    color: hsl(from var(--primary) h s l / 60%); /* Transparent on hover */
}

a:has(img){
    display: block;
    max-height: 100%;
}
main img{
    border-radius: 10px;
    width: 50ch;
    &.big{
        height: 100%;
        width: 40%;
        border-radius: 0;
    }
    @media (orientation: portrait) {
        width: 100%;
    }
}

/* Paragraphs */
p {
    color: var(--text); /* Base text color */
    letter-spacing: 0.05em;
}
/*Lists*/
li, ul{
    color: var(--text);
}

/*aligning*/
.center{
    h1&,h2&,h3&,h4&,a&, p&, blockquote&, i&, b&, ul&{
        text-align: center;
    }
    i&, b&{
        display: inline-block;
        width: 100%;
    }
    blockquote, ul, img&{
        margin-left:auto;
        margin-right:auto;
    }
}

.v-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right{
    h1&,h2&,h3&,h4&, p&, a&, blockquote&, i&, b&{
        text-align: right;
    }
    i&, b&{
        display: inline-block;
        width: 100%;
    }
}
/*Coloring*/
.muted{
    h1&,h2&,h3&,h4&, p&, a&, blockquote&, i&, b&{
        color: hsl(from var(--text) h s l / 40%);
        font-weight: 500;
    }
}

/*containers*/
.line{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3em;
    blockquote{
        flex: 0 0 auto;
    }
    div{
        max-width: 75ch;
        flex: 1 1 200px;
    }
    a{
        flex: 0 1 420px;
    }
    @media (orientation: portrait) {
        gap: 2em;
    }
}

/*----------------quate-----------------*/
blockquote {
    color: var(--text);
	position: relative;
    width: fit-content;
	padding: 1.6em 2.4em .7em 1.4em;
	border-radius: 10px;
	border: 2px solid white;
	box-shadow: 2px 2px 4px hsl(0 0% 0% / 20%);
}

@media (min-width: 768px) {
	blockquote {
		margin: 40px 60px;
	}
}

blockquote::before {
	content: "";
	pointer-events: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 10px;
	box-shadow:
		inset -2px -2px 1px hsl(0 0% 100%),
		inset 2px 2px 4px hsl(0 0% 0% / 20%);
}

blockquote::after {
	content: "❝";
	position: absolute;
	z-index: 1;
	left: 0%;
	top: -2px;
	transform: translate(-50%, -50%);
	width: 1.3em;
	height: 1.3em;
	background: white;
	box-shadow: 0 4px 5px -1px hsla(0 0% 0% / 20%);
	border-radius: 10px;
	display: grid;
	place-content: center;
	padding-top: .5em;
	color: var(--primary);
	font-size: 36px;
	font-style: normal;
	text-indent: 0;
}