:root {
    --color-brand: #b50300;
    --color-activeBrand: #ffa4a3;
    --color-white: #F5F5F5;
    --color-dark: #373737;
    --color-mid: #a9a9a9;
    --height-nav: 50px;
}

body, html {
    font-family: Arial, sans-serif;
    background: var(--color-white);
    margin: 0;
    padding: 0;
}

header, nav ul, .container, footer, #Logo, #Sidebar-list li {
    display: flex;
}

nav ul, #Logo h2, #Logo h3, #Sidebar-list {
    margin: 0;
    padding: 0;
}

header, aside a:hover li::before, #Sidebar-list a:hover li::before {
    background: var(--color-brand);
}

header #menu:hover, nav ul li a:hover, main a, aside a:hover * {
    color: var(--color-brand);
}

header, nav ul li a, footer, footer a, #Menu, #Logo, table thead {
    color: var(--color-white);
}

footer, table thead {
    background: var(--color-dark);
}

a {
    text-decoration: none;
}

main article h2, footer, aside h1, table, th, td {
    text-align: center;
}

nav ul {
    list-style: none;
}

header, nav, #Sidebar-list li::before {
    z-index: 1;
}

.fa-solid {
    display: none;
}

nav ul li a, aside a, #Sidebar-list li a {
    display: block;
}

main a, footer, #Sidebar-list li a {
    width: 100%;
}

header {
    box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.15);
    height: var(--height-nav);
    padding: 10px 20px;
    justify-content: space-between;
}

header #menu:hover {
    background: var(--color-white);
}

hr {
    border: 0;
    height: 2px;
    background: var(--color-brand);
    margin: 20px 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    line-height: var(--height-nav);
    height: var(--height-nav);
    padding: 5px;
}

@media (min-width: 768px) {
    nav ul li a.active {
        background: var(--color-white);
        color: var(--color-brand);
        border-radius: 5px 5px 0 0;
    }
    nav ul li a:not(.active):hover {
        box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.5);
    }
}

nav ul li a:hover {
    border-radius: 5px 5px 0 0;
    background: var(--color-white);
}

aside {
    position: sticky;
    top: 0;
    flex: 1;
    background: var(--color-white);
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
}

main {
    flex: 5;
    padding: 20px;
    width: 90%;
    background: var(--color-white);
}

main a:hover, main a:focus {
    color: var(--color-activeBrand);
}

main a:active {
    color: var(--color-dark);
}

footer {
    bottom: 0;
    padding: 10px 0;
    justify-content: space-evenly;
}

#Menu {
    text-align: end;
    width: auto;
    border-radius: 10px;
}

#Logo {
    width: 200px;
}

#Logo img {
    height: var(--height-nav);
}

#Logo h2 {
    font-weight: 400;
}

#Logo h3 {
    font-weight: 10;
}

@media (max-width: 768px) {
    aside {
        position: absolute;
        transform: translateX(-100%);
    }
    nav {
        display: none;
    }
    .fa-solid {
        display: block;
        color: var(--color-white);
        text-align: left;
        padding: 10px 20px;
    }
    footer {
        flex-direction: column;
    }
    nav.active {
        display: block;
        position: absolute;
        top: calc(var(--height-nav) + 20px);
        left: 0;
        background: var(--color-brand);
        width: calc(100vw - 40px);
        padding: 20px;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        gap: 10px;
    }
    nav li, nav a {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    main article {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    main img{
        width: 100%;
        height: auto;
    }
    article p,main h1{
        text-align: center;
    }
    main article div{
        width: 100%;
    }
    main article div table{
        margin: 0 auto;
    }
    main article div:has(table) {
        overflow-x: scroll;
    }
}

aside * {
    color: var(--color-mid);
}

aside h1 {
    font-weight: 700;
    font-size: 2em;
}

aside a {
    padding: 1em;
    color: inherit;
}

#Sidebar-list {
    list-style: none;
}

#Sidebar-list li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.25em;
    align-items: center;
}

#Sidebar-list li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--color-mid);
}

#Sidebar-list li:not(.last)::after {
    content: '';
    position: absolute;
    left: 0.4em;
    top: 1em;
    width: 3px;
    height: calc(100% + 1.5em);
    background: var(--color-mid);
    z-index: 0;
}

#Sidebar-list li a {
    padding: 0.5em 1em;
    color: inherit;
}

table, th, td {
    border: 1px solid var(--color-dark);
    border-collapse: collapse;
}

.lb-outerContainer {
    max-width: 90vw;
    max-height: 100vh;
}

@media (orientation: landscape) {
    .lb-image {
        min-height: 50vh !important;
        width: auto !important;
    }
}

@media (orientation: portrait) {
    .lb-image {
        min-width: 50vw !important;
        height: auto !important;
    }
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}