:root {
    --color-brand: #b50300;
    --color-activeBrand: #df0400;
    --color-white: #F5F5F5;
    --color-dark: #373737;
    --color-mid: #ababab;
    --height-nav: 50px; 
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-white);
    overflow-x: hidden;
}
header {
    z-index: 1;
    display: flex;
    background-color: var(--color-brand);
    color: var(--color-white);
    height: var(--height-nav);
    padding: 10px 20px;
    justify-content: space-between;
}

a:not(#Logo):hover{
    color: var(--color-brand);
    background-color: var(--color-white);
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set the height of the line */
    background: var(--color-brand); /* Set the background color */
    margin: 20px 0; /* Add some space above and below the line */
}
.fa-bars{
    display: none;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    display: block;
    line-height: var(--height-nav);
    color: var(--color-white);
    text-decoration: none;
    height: var(--height-nav);
    padding: 5px;
}

nav ul li a:hover {
    color: var(--color-activeBrand);
}

.container {
    display: flex;
    justify-content: space-between;
    min-height: 35vh;
}

aside {
    position: sticky;
    top: 0;
    height: 100vh;
    flex: 1;
    background-color: var(--color-mid);
    padding: 20px;
    margin-right: 20px;
    color: var(--color-white);
}

main {
    flex: 4;
    padding: 20px;
    width: 90%;
    background-color: var(--color-white);
}

footer {
    bottom: 0;
    background-color: var(--color-dark);
    color: var(--color-white);
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#Menu{
    text-align: end;
}

#Logo{
    display: flex;
    text-decoration: none;
    color: var(--color-white);
}

#Logo img{
    height: var(--height-nav);
}

#Logo h2{
    font-weight: 400;
    margin: 0;
}

#Logo h3{
    font-weight: 10;
    margin: 0;
}

/* Media query for tablets */
@media (max-width: 768px) {
    aside{
        position: absolute;
        transform: translateX(-100%);
    }
    nav{
        display: none;
    }
    .fa-bars{
        display: block;
        color: var(--color-white);
        text-decoration: none;
        text-align: left;
        padding: 10px 20px;
    }
    footer{
        flex-direction: column;
    }
    nav.active{
        display: block;
        position: absolute; /* Position below the #Menu */
        top: calc(var(--height-nav) + 20px); /* Position at the bottom of the #Menu */
        left: 0;
        background-color: var(--color-brand); /* Optional: add a background color */
        width: 100%; /* Full width */
        padding: 20px; /* Add some padding */
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        gap: 10px;
    }
    nav li, a{
        display: block;
        padding: 0;
        width: 100vw;
        text-align: center;
    }
    #Logo{
        width: 95%;
    }
    #Menu{
        width: 5%;
    }
}

/* Aside Styles */
aside * {
    color: var(--color-white);
}

aside h1 {
    text-align: start;
  }
  

aside a:hover * {
    color: var(--color-brand);
}

aside a:hover li::before {
    background-color: var(--color-brand);
}

aside a {
    display: block;
    padding: 1em;
    color: inherit;
}

/* Sidebar Styles */
#Sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#Sidebar-list li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.25em;
    display: flex;
    align-items: center;
}

#Sidebar-list li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: var(--color-white);
    z-index: 1;
}

#Sidebar-list li:hover::before {
    background-color: var(--color-brand);
}

#Sidebar-list li:not(.last)::after {
    content: '';
    position: absolute;
    left: 0.4em;
    top: 1em;
    width: 3px;
    height: calc(100% + 1.5em);
    background-color: var(--color-white);
    z-index: 0;
}

#Sidebar-list li a {
    display: block;
    padding: 0.5em 1em;
    color: inherit;
    width: 100%;
}