[data-theme="dark"],
:root:not([data-theme="light"]) {
    --primary: #b50300;
    --primary-hover: #ffa4a3;
    --primary-focus: rgba(251, 140, 0, 0.125);
    --primary-inverse: #F5F5F5;
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #a70401;
    --primary-hover: #ffa4a3;
    --contrast: #F5F5F5F5;
    --primary-focus: rgba(251, 140, 0, 0.125);
    --primary-inverse: #f5f5f5c3;
}
a{
    text-decoration: none !important;
}
/*------------------Section-----------------*/
#Content{
    display: flex;
}

#Content aside ul{
    display: flex;
    flex-direction: column;
}

#Content aside{
 flex:1;
}

#Content main{
flex:5;
}
/*------------------Nav-----------------*/
body > nav{
    height: 4em;
    background-color: var(--primary);
    padding: 0 1em;
    box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.2);
}

#Logo{
    display: flex;
    height: 100%;
}
#Logo img{
    padding:  10px 0;
}
hgroup{
    margin-top:auto;
}
#Logo hgroup *{
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 100%;
    color: var(--contrast);
}
#Logo hgroup h3{
    font-size: 1.5em;
}

body > nav #Menu a{
    color: rgb(255, 255, 255);
    border-radius: 5px 5px 0 0;
}

body > nav ul:nth-child(2){
    height: 4em;
    width: 4em;
    padding: 0;
    display: none;
}
body > nav ul:nth-child(2) li{
    padding: 0;
    width: 100%;
    height: 100%;
}
#PhoneMenu{
    height: 100%;
}

body > nav #Menu a.active{
    background: white;
    color: var(--primary);
    box-shadow: none;
}

body > nav #Menu a:not(.active):hover {
    color: var(--primary);
    background-color: #F5F5F5;
    box-shadow: inset 0 -5px 5px -5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 700px) {
    body > nav #Menu{
        display: none;
        position: absolute;
        width: 100vw;
        z-index: 1;
        top: 4em;
        left: 0;
        background-color: var(--primary);
        flex-direction: column;
        height: 100vh;
    }
    #Menu.active{
        display: block;
    }
    body > nav #Menu li, body > nav #Menu a{
        width: 100%;
    }
    body > nav #Menu a{
        border-radius: 0;
    }
    body > nav #Menu{
        margin: 0;
        padding: 10px
    }
    body > nav ul:nth-child(2){
        display: block;
    }
    #PhoneMenu{
        font-size: 1.5em;
        display: block;
        border: none;
        color: white;
        background-color: transparent;
    }
}
body > nav #Menu li{
    transform: translateY(0.77em);
}
/*------------------Aside-----------------*/
aside {
    min-width: 220px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
}
#Sidebar-list a.active li::before{
    background-color: var(--primary);

}
#Sidebar-list a{
    width: 80%;
}
#Sidebar-list li{
    color: hsl(205, 20%, 32%);
}
@media (max-width: 1000px) {
    aside {
        display: none;
    }
}
#Sidebar-list li {
    position: relative;
    padding-left: 2em;
    margin-bottom: 0.25em;
    align-items: center;
}
#Sidebar-list li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translateY(5px);
    background: hsl(205, 20%, 32%);
}
#Sidebar-list li:not(.last)::after {
    content: '';
    position: absolute;
    left: 0.44em;
    top: 1em;
    width: 3px;
    height: calc(100% + 0.5em);
    background: hsl(205, 20%, 32%);
    z-index: -1;
}
#Sidebar-list a:hover li{
    color: var(--primary);
}
#Sidebar-list a:hover li::before{
    background-color: var(--primary);
}
/*-----------------Main------------------*/
#content{
    width: 100vw;
}
.grid a{
    text-align: center;
}
hr{
    background-color: var(--primary);
    height: 3px;
    border: none;
}
main h1{
    margin: 1.5rem;
}
main{
    padding: 0 1em;
    width: 100%;
}

main article div:has(table) {
    overflow-x: scroll;
}
/*---------------Foooter------------------*/
footer{
    background-color: #3d0101;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 50vh 0 50vh #3d0101;
}
footer *{
    color: #ffffffdd;
}
footer div{
    text-align: center;
}
footer a{
    color: #ffffffdd;;
}
/*------------Up---------------*/
#Up{
    display: none;
    text-decoration: none;
}
@media (max-width: 700px) {
#Up{
    display: block;
    z-index: 2;
    font-size: 4em;
    color: hsla(205, 20%, 32%, 0.459);
    position: fixed;
    bottom: 10px;
    right: 10px;
}}